*{
  margin: 0;
	padding: 0;
}
body{
	background-image: url("./img/backround.jpg");
 	background-position: center center;      
 	background-repeat: no-repeat;      
	background-attachment: fixed;      
	background-size: cover;      
	background-color: #464646; 
}
.container{
	display: grid;
	grid-template-areas: 
	"skillsw info skillso"  
	"skillsw info skillso"
	"society society society";
	grid-template-columns: 200px auto 200px;
	grid-template-rows: 35vh 30vh 35vh;
}

.skills-web{
	grid-area: skillsw;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.skills-web-block{
	height: 48px;
	width: 222px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: white;
}
.html{
	background-color: #E44D25;
}
.css{
	background-color: #379BD6;
}
.js{
	background-color: #F7E01D;
}
.php{
	background-color: #7180BB;
}
.mysql{
	background-color: #00758F;
}
.skills-other{
	grid-area: skillso;
}
.info{	
	padding-top: 20px;
	grid-area: info;
	text-align: center;
	color: white;
}
#info-name{
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 8vh;
}
#info-bio{
	font-family: Open Sans;
	font-style: normal;
	font-weight:400;
	font-size: 3vh;
	text-align: center;
}
.info-img{
	width:35vh;
	border-radius: 50%;
}
.society{
	grid-area: society;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 20px;
}
.society img{
	width: 7vh;
	height: 7vh;
}






@media screen and (max-width: 1124px){
	.container{
		grid-template-areas: 
		"info"  
		"skillsw"
		"skillso"
		"society";
		grid-template-columns: 1124px;
		grid-template-rows: 600px 300px 300px 300px;
	}
	.skills-web{
	 	margin: 0 auto;
	}
}